.container {
    display: grid;
    grid-template-areas: "header menu menu menu"
        "hero hero hero hero"
        "main . aside aside"
        "footer footer footer footer"
    ;
    height: 100vh;
    width: 100%;
}

.flex {
    display: flex;
    flex-direction: column;
}

#header-element {
    grid-area: header;
}

#menu-element {
    grid-area: menu;
}

#hero-element {
    grid-area: hero;
}

#main-element {
    grid-area: main;
    grid-column-start: 1;
    grid-column-end: 3;
}

#flex-container-img-extra {
    grid-area: aside;
}

#footer-element {
    grid-area: footer;
}