.subtitle {
    color: brown;
}

.article-title {
    color: blueviolet;
}

#page-name {
    color: rgb(19, 50, 190);
}

#page-name:hover {
    color: pink;
}

#main-element-menu {
    color: red;
}

li>ul>.element-menu {
    color: blue;
}

span {
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

span::first-letter {
    font-size: 20px;
}


h4 .final {
    text-align: end;
}

h4 {
    text-align: center;
}


article {
    padding: 10px 20px 11px 21px;
    /*
        padding-left: 21px;
        padding-righ: 20px;
        padding-bottom: 11px;
        padding-top: 10px;
    */
    /* top right bottom left*/
    margin: 15px 16px 17px 18px;
    /* top right bottom left*/
    border: 2px solid red;
    /* add style y color sino no se ve :v */
}